*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins',sans-serif;
}
body
{
    color: #edeede;
    background:black;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:#051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.Logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation:slideRight 1s ease forwards;


}
.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop.5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a:hover{
    color: #0ef;  
}
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background:url(Background/computer\ for\ code\ writing.png)no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    text-align: center;
}

.home-content {
    max-width: 600px;

}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay:.7s;
}
.home-content h3:nth-of-type(2){
    margin-bottom:30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span{
    color:#0ef;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation:slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.Home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;width: 40px;
    height: 40px;
    background: transparent;
    border:2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: rgb(5, 215, 239);
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft.1s ease forwards;
    animation-delay:calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}
.Home-sci a:hover{
    background: rgb(4, 184, 234);
    color: #081b08;
    box-shadow: 0 0 20px rgb(4, 201, 240);
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b08;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,0 0 25px #0ef;
}


.btn-box:hover{
    box-shadow: 0 0 5px #0ef,0 0 25px #0ef, 0 0 25px #0ef,0 0 100px #0ef,0 0 200px cyan;

}

.About{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}
.About-img img{
    padding-bottom:20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.About-text h2{
    font-size: 60px;
}
.About-text h2 span{
    color: #0ef;
}
.About-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.About-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;

}
#Services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;

}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom:70px;
}
.sub-title span {
    color: #0ef;

}

.skills {
    display: grid;
    gap: 2rem;
     padding: 5rem;
    padding-bottom: 5rem;
}
 
.skills-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 1.5rem;
}
.skills-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills-header,
.skills-description{
    padding-inline: 1.75rem;
}
.skills-name{
    font-size:32px;
}
.skills-value{
    color:white;
    font-weight:500;
    font-size: 32px;
}
.skills-value b{
    color:white;
    font-size:32px;
}
.skills-description{
    margin-block: 1rem 1.75rem;
}
.skills-bar,
.skills-percentage{
    height: 15px;
}
.skills-bar{
    background-color:rgb(130, 122, 127);
    border-radius:1px;
}
.skills-percentage{
    display: block;
    background-color:#0ef;
    position: relative;
}
.skills-percentage::before{
    content:'';
    position: absolute;
    right: 0;
    top: -0.75rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #edeede;
    border: 2px solid #0ef;
    box-shadow: 2px 2px 2px 2px #0ef;
}

.container {
    padding: 90px;
}
.Services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.Services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s,transform 0.5s;
    box-shadow: 2px 2px 20px #012290f7,
                2px 2px 40px #0053b8f7
}
.Services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}
.Services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.Services-list div a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top:20px ;
    display: inline-block;
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 25px #0ef,0 0 25px #0ef;
}
    
.read:hover{
   box-shadow: 0 0 5px #0ef,0 0 25px #0ef, 0 0 25px #0ef,0 0 100px #0ef,0 0 200px cyan;

}
.Services-list div:hover{
    transform: translateY(-10px);
}

.resume-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
}

.resume-title {
    font-size: 300;
    padding-bottom:2rem ;
    text-align: center;
}

.resume-title,
.resume-item{
    border-bottom: 2px solid #0ef;
}
.resume-item:not(:first-child){
    border-right:2px solid #0ef;

}
.resume-item{
    position: relative;
    padding-inline:1.5rem ;
}
.resume-header{
    padding-block:1.5rem;
    cursor: pointer;
}
.resume-header-title{
    font-size: 35px;
}
.resume-icon{
    position: absolute;
    right: -1.25rem;
    bottom: -1.25rem;
    background-color:rgb(10, 238, 10);
    border: 2px solid #0ef;
    box-shadow: 3px 3px 4px 4px #0ef;
    color: #ff004f;
    font-size: 25px;
    font-weight: 400;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items:center;
    z-index: 10;
}

/*.resume-content{
    height: 0;
    overflow: hidden;
}
*/
.resume-content-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem 2rem;
}

.resume-content-title {
    font-size:35px;

}
.resume-date{
    color:#0ef;
    font-size: 20px;
    font-weight: 300;
}
.resume-description{
    margin-block: 1.25rem 2rem;
}

.container5.fillter5-buttons{
    margin: 2rem;
    text-align: center;

}
.fillter5-buttons.btn{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    margin-left: 1.3rem;
    color:#0ef;
}

.fillter5-buttons.btn:hover{
    color: #0ef;

}
.design-gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    padding:20px;
}
.design-box{
    position: relative;
    max-width: 470px;
    margin: 0 auto;
    border-radius: 20px;
    background: #292e33;
    display: flex;
    grid-template-columns: 1fr auto;
    align-items: center;
    border: 2px solid #0ef;
    box-shadow: rgb(4, 201, 240);
}
.design-box:hover .design-image img{
    transform: scale(1.1);
}
.design-image{
    display: flex;
    align-items:right;
    justify-content:right;
    overflow: hidden;
    height: 400px;
    width:600px;
}
.design-image img{
    width: 100%;
    max-width: 100%;
    height: 100%;;
    object-fit: contain;
    transition: .5s;
    
}
.design-contain{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(18,247,255,0.7);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    padding:1rem;
}
.design-box:hover .design-contain{
    opacity:1;
}
.design-contain h3 {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.design-contain p{
    font-size:15px;
    margin: 5px 0 15px 0;
}


















/*.section{
    display: flex;
    flex-wrap: wrap;

}
.container1{
    width: 600px;
    height: 500%;
    padding: 75px 90px;
    margin-left: 120px;

}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;

}
.bar{
    font-size: 23px;

}
.technical-bars .bar{
    margin-top: 40px 0;
}
.technical-bars .bar:first-child{
    margin-top: 0;
}
.technical-bars .bar:last-child{
    margin-bottom: 0;
}
.technical-bars.bar.info{
    margin-bottom: 5px;

}
.technical-bars.bar.info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity:0;

}
.technical-bars.bar.progress-line{
    position: relative;
    border-radius:10px;
    width:100%;
    height:5px;
    background-color: #000000;
    animation:animate 1s cubic-bezier(1,0,0,5,1)forwards;
    transform:scaleX(0);
    transform-origin:left ;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.technical-bars.bar .progress-line span{
    height: 100%;
    background-color:#0ef;
    position: absolute;
    border-radius: 20px;
    animation: animate 1s 1s cubic-bezier(1,0,0,5,1)forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html-span{
    width: 90%; 
}
.progress-line.css-span{
    width: 60%;
}
.progress-line.javascript-span{
    width: 85%;
}
.progress-line.python-span{
    width: 50%;
}
.progress-line.react-span{
    width: 75%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color:#000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.html span::after{
    content:"90%";
}
.progress-line.css span::after{
    content:"60%";
}
.progress-line.javascript span::after{
    content:"85%";
}
.progress-line.python span::after{
    content:"85%";
}
.progress-line.react span::after{
    content:"90%";
}*/
.main-text{
    padding-top:130px;
    margin-top: 200px;

}
.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
}
.main-text h2 span{
    color:#0ef ;

}
.progress-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(359px,auto));
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    color: #0000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
}
.layer i{
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}
.row:hover img{
    transform: scale(1.1);
}
.row:hover.layer{
    height: 100%;

}

#Portfolio{
    padding: 50px 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.work-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: nowrap;
    overflow-x:auto;
    
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 500px;
    height: 400px;
    /*border-radius: 0px;*/
    display: block;
    align-items: center;
    box-shadow: 0 0 25px #0ef,0 0 25px #0ef;
    transition: transform 0.5s;
}
    
.work img:hover{
    box-shadow: 0 0 5px #0ef,0 0 25px #0ef, 0 0 25px #0ef,0 0 100px #0ef,0 0 200px cyan;
    transform:scale(1.1);
}


/*.layer-last{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba (0,0,0,0.6),#0ef);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}*/
.layer-last h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer-last a{
    margin-top: 20px;
    color: #0ef;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 5px;

}


.container h1{
    font-size: 70px;
    line-height: 1;
    text-align: center;
    color: #0ef;

}

.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left:130px ;
    margin-top: 130px;
}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
}
.contact-text h2 span{
    color: #0ef;
}

.contact-text h4{
    margin: 15px 0;
    color:white;
    font-size: 20px;
    font-weight: 600;

}

.contact-text p{
    color: rgb(177,177 ,177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;

}
.contact-list li{
    margin-bottom: 10px;
    display: block;

}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}
.contact-icons i{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid#0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation:slideleft 1s ease forwards;
    animation-delay: calc(.2s * var(--1));

}
.contact-icons i:hover{
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}
.contact-form form{
    position: relative;

}
.contact-form form input,form textarea{
    border: none;
    border-radius: 30px;
    outline: none;
    width: 80%;
    padding:20px;
    background: #fbfbfe;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 200px;

}
.contact-form form .send{
    padding: 35px 15px;
    background: #0ef;
    border-radius: 30px;
    font-size: 20px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 20px #0ef,0 0 20px #0ef;

}
.contact-form form.send:hover{

box-shadow: 0 0 5px #0ef,0 0 25px #0ef, 0 0 25px #0ef,0 0 100px #0ef,0 0 200px cyan;
}































@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
